*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    background-image: url(../img/gemstone-1576233_1920.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    
    
    
    .form-iniciosesion{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color:  white;
    box-shadow: 7px 24px 37px #000;
    }
    
    .form-iniciosesion h4 {
    font-size: 22px;
    margin-bottom: 20px;
    }
    
    .controls{
    width:300px;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8338ec;
    font-family: calibri;
    font-size: 16px;
    color: white;
    }
    
    .form-inicisesion p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    }
    
    .form-iniciosesion a {
    color: white;
    text-decoration: none;
    }
    
    .form-iniciosesion a:hover{
    color: white;
    text-decoration: underline;
    }
    
    .form-iniciosesion .botons {
    width: 100%;
    background: #8338ec;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    }
    
    
    